<footer class="horizontal-footer shadow-footer">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-12">
        <div class="text-center">
          <ul class="social-icons list-inline mt-5">
            <li class="list-inline-item">
              <a [href]="github" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a [href]="linkedin" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
          <p class="copyright-text mt-3 mb-5">© 2026 – Yann Ouattara | Portfolio Personnel</p>
        </div>
      </div>
    </div>
  </div>
</footer>
